* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.n-a-font{
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
  }

.login-btn {
  background-color: #6fb1fc;
  color: #ffff;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px 8px 20px;
  border-radius: 25px;
  font-family: "poppins";
  transition: .6s;
}
.login-btn:hover {
  background-color: #f9fafc;
  color: #000000;
  transition: .6s;
}
.colour-sky {
  color: #6fb1fc;
}
.font-20 {
  font-family: "poppins";
  font-size: 20px;
  font-weight: 600;
}
.font-24 {
  font-size: 24;
  font-weight: 600;
  font-family: "poppins";
}
.font-60 {
  font-size: 60px;
  font-weight: 700;
  font-family: "poppins";
}
.font-35 {
  font-size: 35px;
  font-weight: 700;
  font-family: "poppins";
}
.pricing-table-heading {
  font-size: 16px;
  font-family: "poppins";
  color: #6b7370;
  font-weight: 400;
}
.font-22 {
  font-size: 22px;
  font-weight: 600;
  font-family: "poppins";
}
.font-16 {
  font-size: 16px;
  font-family: "poppins";
  color: #6fb1fc;
  font-weight: 400;
}
.font-16-n {
  font-size: 16px;
  font-family: "poppins";
  color: #6b7370;
  font-weight: 400;
}
.font-14 {
  font-size: 14px;
  font-weight: 400;
  font-family: "poppins";

  color: #6b7370;
}
.font-30 {
  font-size: 28px;
  font-weight: 700;
  max-width: max-content;
  font-family: "poppins";
}
.font-15 {
  font-size: 15px;
  font-weight: 600;
  font-family: "poppins";
}
.font-18 {
  font-size: 18px;
  font-weight: 600;
  font-family: "poppins";
}
.font-30-n {
  font-size: 28px;
  font-weight: 700;
  font-family: "poppins";
  max-width: max-content;
}
.trophy i {
  font-size: 25px;
}
.trophy {
  display: inline-block;
  padding: 0 15px;
  position: relative;
  color: #6fb1fc;

  &:before,
  &:after {
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: 50%;
    width: 60%;
    background-color: currentColor;
  }

  &:before {
    right: 85%;
  }

  &:after {
    left: 85%;
  }
}

a.nav-link {
  font-weight: 400;
  margin: 0 5px 0 5px;
}

.fixednav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
  transition: 0.3s;

}

.nav-link {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* .nav-link:hover,
.a-border {
  display: block;
} */
li {
  margin-bottom: 10px;
}

.cool-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #3191ff;
  transition: width .4s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}
.cool-link::after{
content:"";
width:0;
height: 2px;

}
.hero-benar {
  background-image: url(image/back-img.webp);
  background-attachment: fixed;
  background-size: 100% 145%;
  background-position-y: center;
  min-height: auto;
  object-fit: cover;
  filter: grayscale(0.3);
  position: relative;
  padding: 0px 0 100px 0;
  z-index: 2;
  /* filter: brightness(0.5); */
}
/* .hero-content {
    padding: 50px 0px 0px 0px;
} */
.hero-content h2 {
  font-size: 64px;
  padding: 25px 0px 0px 0px;
  font-family: "Poppins";
  font-weight: 700;
}
.hero-content h6 {
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
}
.search-div .search {
  width: 40%;
  padding: 12px 20px 12px 20px;
  border: none;
  outline: none;
}

button.search-btn {
  background-color: #6fb1fc;
  color: #ffff;
  padding: 12px 0px 12px 0px;
  outline: none;
  border: none;
  width: 16%;
}
.bi-play-circle {
  font-size: 65px;
  cursor: pointer;
}
.play-i p {
  margin: 0px 0px 0px 15px;
  font-size: 16px;
  font-weight: 500;
}
.hero-content h6 {
  padding: 20px 0px;
}
.play-i {
  padding: 30px 0px 0px 0px;
}

/* social media section */
.social-m-section {
  padding: 65px 0px 64px 0px;
}
.social-m-heading {
  padding: 0px 0px 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social-m-heading h5 {
  position: relative;
  z-index: 99;
}
.social-m-first-box {
  background-image: url(image/social\ media\ omg\ 2.jpg);
  min-height: 360px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 400px;
  margin: 15px 0px;
  position: relative;
  overflow: hidden;
}
.social-m-second-box {
  background-image: url(image/social\ media\ img\ 1.jpg);
}
.social-m-third-box {
  background-image: url(image/social\ media\ img.jpg);
}
.social-m-first-box:hover {
  box-shadow: -5px 5px 20px 0px #979696;
  transition: 0.5s;
}

.social-m-first-cont h6 {
  left: 0;
  position: absolute;
  background-color: rgba(14, 14, 14, 0.8);
  width: 100%;
  height: 17vh;
  bottom: -30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.bottom {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
.bot-bor {
  position: relative;
  margin-top: 15px;
  margin-bottom: 30px;
}

.bot-bor::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 20%;
  height: 3px;
  bottom: -15px;
  left: 0px;
  margin-top: 15px;
}
.bottom::after {
  content: "";
  position: absolute;
  background-color: pink;
  width: 9%;
  height: 2px;
  bottom: 10px;
  left: 30px;
}
.bottom-start::after {
  background-color: aqua;
}
.bottom-after::after {
  background-color: pink;
}
.bottom-after-middle::after {
  background-color: chartreuse;
}

.read-more {
  background-color: #ffffff;
  padding: 13px 30px 13px 30px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}
.icon-settings {
  font-size: 50px;
  color: #ffff;
}
.content-media {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  right: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: #49c5b6;
  padding: 1px 50px;
  transition: all 0.4s;
}
.social-m-first-box:hover .content-media {
  bottom: 0%;
}
.middle-bg-green {
  background-color: chartreuse;
}
.middle-bg-pink {
  background-color: pink;
}

.fa-chevron-right {
  font-size: 14px;
  margin: 0px 0px 0px 5px;
  display: none;
  color: #ffffff;
}
.read-more:hover .fa-chevron-right {
  display: block;
  transition: 0.6s;
  padding-left: 15px;
  color: #faf7f7;
}
.read-more:hover {
  transition: 0.6s;
  background-color: transparent;
  border: 2px solid #fffbfb;
  color: #faf7f7;
  outline: none;
  padding: 13px 30px 13px 30px;
}
/* end */

/* business section css */
.businessnan {
  padding: 80px 0px 80px 0px;
}
.bottom-bor-business {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
.bottom-bor-business::after {
  content: "";
  position: absolute;
  background-color: #6fb1fc;
  width: 9%;
  height: 2px;
  bottom: -13px;
  left: 3px;
}

.business-containt {
  padding: 10px 10px 10px 10px;
}
i.bi.bi-lightbulb {
  font-size: 44px;
}
.inovative-containt h5 {
  margin: 10px 0px 0px 25px;
  padding: 0;
}
.inovative-containt p {
  margin: 15px 0px 0px 25px;
  padding: 0;
}
.bi-headset {
  font-size: 44px;
}
.inovative {
  padding: 10px 0 0 0;
}
.inovative-two {
  padding: 20px 0 0 0;
}
i.bi.bi-person {
  font-size: 30px;
  color: #000;
}
.business-video {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* end */

/* inovetors */
.meet {
  background-color: #eceaea;
  padding: 70px 0px 70px 0px;
}
.bottom-line {
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
}
.bottom-line::after {
  content: "";
  position: absolute;
  background-color: #6fb1fc;
  width: 100%;
  height: 10px;
  z-index: -12;
  bottom: -5px;
  left: 0px;
  margin-top: 15px;
}
.inovetor-img-div-1 {
  position: relative;
  overflow: hidden;
}
.inovetor-img-div-1 img {
  background-size: 100% 100%;
  height: 410px;
  width: 410px;
  background-repeat: no-repeat;
  object-fit: cover;
}
/* .inovetor-img-containt { position: relative;
overflow: hidden;} */
.nicole-border {
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
}
.nicole-border {
  content: "";
  position: absolute;
  background-color: #6fb1fc;
  width: 20%;
  height: 5px;
  bottom: 272px;
  left: 27px;
  margin-top: 15px;
}
.inovetor-img-div-1:hover .inovetor-con-right-hover{
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: -4%;
  width: 100%;
  height: 100%;
  color: #fff;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 25px 11px 25px;
}

.inovetor-img-containt {
  overflow: hidden;
}
.inovetor-con-right-hover {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  display: none;
  right: -4%;
  width: 100%;
  height: 100%;
  color: #fff;
  transition: all 0.8s;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  padding: 10px 25px 11px 25px;
}
.inovetor-img-div-1:hover .inovetor-con-right-hover {
  right: 0%;
}
.inovetor-con-bottom-hover {
  box-sizing: border-box;
  position: absolute;
  bottom: -100%;
  width: 427px;
  height: 410px;
  background-color: rgba(14, 14, 14, 0.6);
  transition: all 0.5s;
  display: flex
;
  flex-direction: column;
  justify-content: center;
  padding: 10px 57px 11px 30px;
}
.inovetor-img-div-1:hover .inovetor-con-bottom-hover {
  bottom: 0%;
}

.inovetor-img-div-1:hover.inovetor-img-div-1 img {
  transform: scale(1.2);
  transition: 0.8s;
  overflow: hidden;
}
/* end */
/* facts section */
.facts {
  background-color: #eceaea;
}
.fact-cotaint {
  max-width: 100%;
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-image: url(image/scroll\ bg\ img.jpg);
  background-size: 100%;
  object-fit: cover;
  text-align: center;
  
}
.fact-con-box i {
  font-size: 60px;
  color: #aecce3;
  margin-bottom: 25px;
}
.fact-con-box {
  background: linear-gradient(to right, #49c5b6 0%, #5766d3 100%);
  width: 100%;
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.88;
  padding: 60px 0px;
}
.Purchase-btn {
  padding: 14px 28px 14px 28px;
  border-radius: 30px;
  border: none;
  color: #000;
  margin-top: 15px;
  font-weight: 500;
}
.Purchase-btn:hover {
  background: transparent;
  border: 2px solid #fff;
  padding: 14px 28px 14px 28px;
  color: #fff;
  transition: 0.4s;

}
/* end */

/* work section */
.work {
  background-color: #eceaea;
  padding: 70px 0px 70px 0px;
}
.work-image {
  position: relative;
}
.work-image img {
  background-repeat: no-repeat;
  max-width: 100%;
  object-fit: cover;
  min-height: 50vh;
  background-size: 100% 100%;
}
.work-img-hanging {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px 25px 25px 35px;
}
.work-con-border {
  position: relative;
}
.work-con-border {
  content: "";
  position: absolute;
  background-color: #6fb1fc;
  width: 10%;
  height: 3px;
  bottom: 250px;
  left: 40px;
}
.work-section-icon {
  position: absolute;
  /* width: 100%; */
  top: 46%;
  bottom: 0%;
  left: 46%;
  right: 50%;
}
i.bi.bi-plus-lg {
  background: #6fb1fc;
  font-size: 30px;
  padding: 4px 11px 4px 11px;
  border-radius: 50%;
  cursor: pointer;
}
.starter-div i {
  box-shadow: 0px 5px 20px 0px #bbb;
}


/* codepen css in work section */

/* body {
  background-color:#000;
} */
.product-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  border-radius: 10px;
  min-height: 50vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0px 0px 13px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 13px 0px rgba(255, 255, 255, 0.4);
}
.product-opacity {
  max-width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-shadow: inset 10px 10px 0px 171px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 10px 10px 0px 171px rgba(0, 0, 0, 0.3);
  box-shadow: inset 10px 10px 0px 171px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  z-index: 3;
}
.product-box:hover > .product-opacity{
  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.3);
box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.3);
}
.product-content {
  margin-top: 0;
  opacity: 0;
  transition: 0.8s;
  background-color: rgb(0 0 0 / 48%);
  padding: 30px 40px;
  position: relative;
  min-height: 50vh;
  max-width: 100%;
}
/* .product-content p {
  font-size:35px;
  font-weight:bold;
  color:#000;
} */
/* .product-content button {
  background-color:#6f4e37;
  color:#fff;
  font-size:19px;
} */
.product-box:hover > .product-content {
 max-width: 100%;
  opacity:1;
  min-height: 50vh;
}
.product-box img {
  width:100%;
  height:100%;
  position:absolute;
  transition:0.5s;
}
.product-box:hover img {
  transform:rotate(-10deg) scale(1.2);
}
/* end codpen css  */




/* end */
/*pricing  */
.pricing {
  background-color: #eceaea;
  padding: 70px 0px 70px 0px;
}
.order-bg-b a:hover {
  background: #a5a4a499;
  transition: 0.3s;
  color: #000;
}
.snip1214 {
  text-align: center;
  width: auto;
}
/* i.bi.pricing-cloud-icon {
  font-size: 36px;
  background-color: #fa4e40;
  padding: 20px 26px;
  border-radius: 50%;
  color: #ffff;
} */
.border-a {
  border: 1px solid #d2d7e2;
  background: #fefefe;
  border-radius: 8px;
  max-width: 400px;
}
.border-b {
  border: 1px solid #49c5b6;
  background: #fefefe;
  border-radius: 8px;
  max-width: 400px;
}

.border-c {
  border: 1px solid #d2d7e2;
  background: #fefefe;
  border-radius: 8px;
  max-width: 400px;
}
.starter-div {
  position: relative;
  padding: 20px 0 10px 0px;
}
i.bi.pricing-cloud-icon{
  font-size: 36px;
  background-color: #fa4e40;
  padding: 20px 26px;
  border-radius: 50%;
  color: #ffff;
  position: relative;
  left: 0%;
  top: -50px;
}
.snip1214 .plan {
  margin: 0;
  width: 100%;
  position: relative;
  float: left;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.snip1214 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1214 header {
  position: relative;
}

.snip1214 .plan-cost {
  padding: 30px 0px 30px 0px;
  border-top: 1px solid #d2d7e2;
}
.snip1214 .plan-type {
  opacity: 0.6;
}
.snip1214 .plan-features {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: outside none none;
  font-size: 0.8em;
}
.snip1214 .plan-features li {
  border-top: 1px solid #d2d7e2;
  padding: 12px 0px;
  font-size: 16px;
  font-family: "poppins";
  font-weight: 400;
  color: #6b7370;
}
.snip1214 .plan-features li:nth-child(even) {
  background: rgba(0, 0, 0, 0.02);
}
.snip1214 .plan-features i {
  margin-right: 8px;
  opacity: 0.4;
}
.snip1214 .plan-select {
  padding: 40px 0px;
}
.plan-select a {
  background-color: #fa4e40;
  color: #ffffff;
  text-decoration: none;
  padding: 4% 33%;
  border-radius: 5px;
}
.border-bottom i {
  border-top: 1px solid #d2d7e2;
}
.snip1214 .featured {
  margin-top: -10px;
  background-color: #eeee;
  color: #c00f0f;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.snip1214 .featured .plan-title,
.snip1214 .featured .plan-price {
  color: #ffffff;
}
.snip1214 .featured .plan-cost {
  padding: 10px 10px 20px;
}
.starter-div .pricing-box-icon {
  font-size: 36px;
  background-color: #49c5b6;
  padding: 20px 26px;
  border-radius: 50%;
  color: #ffff;
  position: relative;
  left: 0%;
  top: -50px;
}
.busenees-plan-bg {
  background-color: #49c5b6;
  color: #fff;
}
.hover-color:hover a{
  background-color: #cac8c8;
  transition: 0.3s;
  color: #000;
}
.order-bg-b a {
  background-color: #49c5b6;
}
.starter-div .earth {
  font-size: 36px;

  background-color: #5766d3;
  padding: 20px 26px;
  border-radius: 50%;
  color: #ffff;
  position: relative;
  left: 0%;
  top: -50px;
}
.Enterprise {
  color: #5766d3;
}
.order-bg-c a {
  background-color: #5766d3;
}


/* end */
/* testimonials css */
.testimonials-head h5 {
  padding-top: 15px;
}

.bottom-line-border {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
.bottom-line-border::after {
  content: "";
  position: absolute;
  background-color: #6fb1fc;
  width: 85%;
  height: 3px;
  bottom: -23px;
  left: 12px;
}

/* end */
/* tstimonials */
.testimonials {
  background-color: #eceaea;
  padding: 50px 0px 30px 0px;
  background-image: url(image/testimonials.jpeg);
  background-size: 100% 100%;
  height: auto;
  background-attachment: fixed;
  position: relative;
}
.testimonials-next-prev-icon i {
  color: #ffffffed;
  font-size: 30px;
  /* background-color: #05cff945; */
}
.testimonials-next-prev-icon {
  display: flex
;
  justify-content: space-evenly;
  align-items: center;
}
i.bi.bi-quote {
  font-size: 50px;
  color: #999;
}
.testimonial-box-a {
  padding: 35px 18px;
  border-radius: 10px;
}
.testimonial-img{
  max-width: 13%;

}
.testimonial-img img {
  background-size: 100% 100%;
  border-radius: 50%;
  margin-top: 50px;
}
.t-img-bottom-name {
  padding: 35px 0px 0px 0px;
}
/* testimonial slider */

/* html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    } */

    .swiper {
      width: 100%;
      height: 100%;
    }

   #swiper-slidetesti {
      text-align: center;
      font-size: 18px;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper {
      margin-left: auto;
      margin-right: auto;
    }


/* slider end */
/* end */

/* blog */
.blog {
  background-color: #eceaea;
  padding: 70px 0px 30px 0px;
  position: relative;
}
.blog-box {
  padding: 35px 10px 30px 20px;
}
.blog-box h5,
p {
  line-height: 1.5;
  padding-bottom: 15px;
}
.blog-next-icon i {
  font-size: 27px;
  color: #000;
  transition: 0.6s;
}
.blog-next-icon i:hover{
  color: #49c5b6;
  transition: 0.6s;
}
.blog-next-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.blog-box button {
  border: none;
  outline: none;
  background: #ffff;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid #000;
}
.blog-box button:hover {
  color: #6fb1fc;
  border-bottom: 2px solid #6fb1fc;
  transition: 0.3s;
}
.blog-box h5:hover {
  color: #6fb1fc;
  transition: 0.3s;
  cursor: pointer;
}
.blog-box-bottom {
  background: #fff;
  border-top: 1px solid #bbb0b0;
  padding: 20px 22px 20px 20px;
  align-items: center;
}
i.fa-regular.fa-clock {
  font-size: 20px;
  color: #000;
  padding-right: 10px;
}
.fa-message {
  color: #000;
  border: 1px solid #bbb0b0;
  padding: 8px 8px 8px 8px;
  border-radius: 50%;
  cursor: pointer;
}
.fa-heart {
  color: #000;
  border: 1px solid #bbb0b0;
  padding: 8px 8px 8px 8px;
  border-radius: 50%;
  cursor: pointer;
}
.fa-message:hover {
  color: #6fb1fc;
  transition: 0.2s;
  border: 1px solid #6fb1fc;
}
.fa-heart:hover {
  color: #6fb1fc;
  transition: 0.2s;
  border: 1px solid #6fb1fc;
}


/*  */
/* html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 96%;
  height: 100%;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*  */

/* end */
/* together */
.together {
  opacity: 0.95;
  background: linear-gradient(to right, #49c5b6 0%, #5766d3 100%);
  min-height: auto;
  padding: 70px 0 70px 0;
}
.letwork-boder {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
.letwork-boder::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 7%;
  height: 3px;
  bottom: -21px;
  left: 0px;
}
.letwork-inputs input {
  width: 46%;
  margin: 15px 10px 0px 0px;
  padding: 12px 5px 12px 15px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 5px;
}
.letwork-inputs textarea {
  margin-top: 15px;
  width: 94%;
  padding: 5px 5px 5px 15px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  border-radius: 5px;
}
.send-massage {
  opacity: 0.95;
  background: linear-gradient(to left, #49c5b6 40%, #5766d3 100%);
  padding: 0px 10px 0px 60px;
  width: 43%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
} 
.send-massage:hover {
  opacity: 0.95;
  background: linear-gradient(to right, #49c5b6 40%, #5766d3 100%);
  transition: 0.8s;
 
}
i.bi.bi-arrow-right-short {
  font-size: 36px;
}
/* i.bi.bi-arrow-right-short {
    padding-right: 15px;
    font-size: 30px;
} */
/* end */
/* footer css */
.footer {
  background-color: #222222;
  padding: 70px 0px 70px 0px;
  width: 100%;
  height: auto;
}
.accordion-heading{
    background-color: transparent;
}
.accordion-item{
    background-color: transparent;
}
.accordion-item i {
    font-size: 16px;
    padding-right: 15px;
}
.contect-us {
    padding: 20px 0 70px 0;
}
.footer-content {
    padding: 60px 0 0px 0;
}
.accordion-icon i{
    padding-right: 15px;
    font-size: 16;
}
.footer-tebs{
    color: #fff;
}
.copyright{
    color: #fff;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-icons{
    color: #fff;
}
.contect-us h5{
    font-size: 16px;
    font-weight:400;
    font-family: "poppins";
}
.footer-tebs a{
font-size: 13px;
font-weight: 400;
font-family: "poppins";
}
.footer-icons i{
    font-size: 14px;
    font-weight: 400;
}
.copyright h6{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
.footera{
  margin: 15px 15px 0px 0;
  color: #999;
  text-decoration: none;
}
.footera:hover {
  border-bottom: 1px solid #999;
  padding: 0px 0px 5px 0px;
  transition: 0.6s;
}
/* span.footer-a a:hover{
    border-bottom: 1px solid #999;
} */
span.footer-a {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}
.footer-icons i {
  font-size: 24px;
  margin: 0 0px 0 0;
    color: #999;
    max-height: fit-content;
    padding: 4px 10px 5px 10px;
    border-radius: 50%;
    cursor: pointer;
}
.footer-icons i:hover {
  box-shadow: 0px 0px 15px 0px #ffff;
  transition: 0.7s;
  color: #3191ff;
  background: white;
}
 
.footer-icons-flex{
  display: flex;
  justify-content: end;
}
.fix-arrow i {
  color: #fff;
  font-size: 25px;
  background: #78787888;
  max-width: max-content;
  border-radius: 50%;
  padding: 2px 6px 2px 6px;
  cursor: pointer;
  z-index: 22;
}
.fix-arrow {
  position: fixed;
  right: 17px;
  top: 73%;
  z-index: 22222;
  border-radius: 50%;
  
}
.fix-arrow:hover{
  color: #fff;
  background-color: #222222;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 3px #52505099;
  transition: 0.5s;
}
.copyright {
  display: flex
;
  justify-content: end;
}

.darkHeader {
  position: fixed !important;
  width: 100% ;
  background: lightblue ; 
   transition: 1s;
 
  top: 0%;
}
.navbar {
  transition: all 0.3s ease;
}

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:800);





/* media query ccs start */
@media  (max-width: 767px) {
  body {
    background-color: lightblue;
  }
  nav.navbar {
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.hero-benar {
background-repeat: no-repeat;
  padding: 80px 0 80px 0;
}
a.nav-link:hover.nav-item {
  background-color: #a7a4a4;
}
a.nav-link {
  color: #000 !important;
}
li.nav-item {
  text-align: center;
}
form.form-inline {
  text-align: center;
}
  /* fonts */
  .font-14 {
    font-size: 12px;
}
  .font-15 {
    font-size: 13px;
    margin: 0;
}
.font-16 {
  font-size: 14px;
}
.font-22 {
  font-size: 18px;
}
.font-30 {
  font-size: 18px;
}
.font-30-n {
  font-size: 22px;
}
.font-16-n {
  font-size: 14px;
  margin: 0;
}
.font-18 {
  font-size: 14px;
}
.font-20 {
  font-size: 18px;
}
.trophy i {
  font-size: 15px;
}
  /* end */
/* hero section */
.n-a-font {
  font-size: 12px;
}
.hero-content h2 {
  font-size: 26px;
}
.hero-content h6 {
  line-height: 1.5;
}
.hero-benar {
  background-size: 100% 100%;
}
.search-div .search {
  width: 64%;
  padding: 8px 14px 8px 14px;
}
button.search-btn {
  padding: 8px 0px 8px 0px;
  width: 32%;
}
/* socail media section */
.bottom-line {
  margin-top: 10px;
  margin-bottom: 20px;
}
.social-m-first-box {
  width: 90%;
}
.social-m-first-box {
  min-height: 284px;
}
.social-m-first-cont h6 {
  height: 65px;
}
.bottom::after {
  bottom: 13px;
}
.icon-settings {
  font-size: 28px;
}
.social-m-first-cont h6 {
  top: 67%;
}
.social-m-section {
  padding: 30px 0px 30px 0px;
}
.read-more {
  padding: 10px 16px 10px 16px;
  font-size: 14px;
}
.content-media {
  width: 100%;
  height: 100%;
  padding: 20px 50px;
}
/* end */
/* businessman secton query */

.businessnan {
  padding: 0px 0px 40px 0px;
}
.bottom-bor-business {
  margin-top: 0px;
  margin-bottom: 20px;
}
i.bi.bi-lightbulb {
  font-size: 30px;
}.bi-headset {
  font-size: 30px;
}
.inovative-containt p {
  margin: 5px 0px 0px 25px;
}
.inovative-containt h5 {
  margin: 0px 0px 0px 25px;
}
/* end */
/* fect section */


/* end */
.work {
  padding: 30px 0px 30px 0px;
}

/* meet our team media query */
.inovetor-con-bottom-hover {
  width: 400px;
  height: 340px;
}
.inovetor-img-div-1 img {
  height: 340px;
  width: 410px;
}
.meet {
  padding: 35px  0 35px 0px;
}
.inovetor-img-div-1 {
  margin: 15px 0 15px 0;
}
.nicole-border {
  bottom: 215px;
  left: 25px;
}

/* meet our team end */

/* fact sction media */
.social-m-heading {
  padding: 0px 0px 20px 0px;
}
.fact-con-box {
  padding: 30px 0px;
}
.fact-con-box i {
  font-size: 40px;
  margin-bottom: 10px;
}
.Purchase-btn {
  padding: 12px 18px 12px 18px;
  margin-top: 10px;
}
/* end fact */
/* work section */

i.bi.bi-plus-lg {
  font-size: 16px;
  padding: 3px 8px 3px 8px;
}
.work-con-border {
  bottom: 355px;
}

/* end  */
/*pricing section media quary */
.snip1214 .plan-cost {
  padding: 5px 0px 5px 0px;
}
.font-35 {
  font-size: 18px;
}
.font-60 {
  font-size: 30px;
}
.snip1214 .plan-features li {
  padding: 5px 0px;
  font-size: 14px;
  margin: 0;
}

i.bi.pricing-cloud-icon,.earth,.pricing-box-icon  {
  position: absolute;
  font-size: 24px;
  left: 40%;
  /* bottom: 31%; */
  top: -40px;
}
.starter-div .bi-box-seam {
  position: absolute;
  font-size: 24px;
  left: 40%;
  top: -40px;
}
.starter-div .bi-globe {
  position: absolute;
  font-size: 24px;
  left: 40%;
  top: -40px;
}
.snip1214 .plan-select {
  padding: 25px 0px;
}
.plan-select a {
  padding: 3% 33%;
}
.starter-div {
  padding: 50px 0 10px 0px;
}
.border-a {
  margin: 40px 0 40px 0;
}
.border-b {
  margin: 40px 0 40px 0;
}
.pricing {
  padding: 30px 0px 50px 0px;
}
.border-c {
  margin: 40px 0 40px 0;
}
/* pricing media query */

/* testimonials section media  */
.bottom-line-border::after {
  bottom: -14px;
  left: 12px;
}
.testimonials {
  padding: 30px 0px 20px 0px;
}
.testimonial-box-a {
  padding: 5px 18px;
}
.testimonial-img img {
  margin-top: 14px;
}
.t-img-bottom-name {
  padding: 10px 0px 0px 0px;
}
div#swiper-paginationtesti {
  position: relative;
  bottom: 7px;
}
.t-slider-btn {
  position: absolute;
  top: 275px;
}
/* end */

/* blog section mi=edia */
.blog {
  padding: 30px 0px 30px 0px;
}
.letwork-boder::after {
  bottom: -6px;
  left: 0px;
}
.letwork-inputs input {
  width: 96%;
  padding: 10px 5px 10px 10px;
  font-size: 13px;
}
.letwork-inputs button {
  font-size: 12px;
  padding: 0px 10px 0px 15px;
}
.letwork-inputs textarea {
  font-size: 13px;
}
.letwork-inputs textarea {
  width: 96%;
}
i.bi.bi-arrow-right-short {
  font-size: 25px;
}
.letwork {
  padding: 10px 0 0 0;
}
.blog-box {
  padding: 18px 25px 30px 35px;
  margin: 25px 0 0 0;
}
section.together {
  padding: 10px 0px 30px 0px;
}


/* end */

/* footer icon media */
.contect-us h5 {
  font-size: 12px;
}
.contect-us {
  padding: 0px 0 0px 0;
}

.footer {
  padding: 10px 0px 40px 0px;
}
.footer-content {
  padding: 10px 0 0px 0;
}
.footer-a a {
  display: flex
;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0;
  max-width: max-content;
}
.copyright {
  justify-content: center;
}
.copyright h6 {
  margin: 10px 0;
}
/* end */

.product-box {
  margin: 20px 0 0 0 ;
}



}

@media screen and (min-width: 768px) and (max-width: 1180px) { 

  .font-16 {
    font-size: 15px;
  }
  .font-30 {
    font-size: 24px;
}
.font-15 {
  font-size: 14px;
  font-weight: 300
}
  .hero-content h2 {
    font-size: 35px;
}
.hero-content h6 {
  line-height: 1.5;
}
.search-div .search {
  width: 50%;
}
button.search-btn {
  width: 20%;
}
/* social media */
.social-m-heading {
  padding: 0px 0px 0px 0px;
}
.social-m-section {
  padding: 30px 0px 0px 0px;
}
.social-m-first-box {
  min-height: 315px;
  width: 368px;
}
.content-media {
  padding: 1px 50px;
}

.bottom-bor-business {

  margin-top: 0px;

}
.font-30-n {
  font-size: 20px;
}
.font-16-n {
  font-size: 14px;
}
i.bi.bi-lightbulb {
  font-size: 30px;
}
.bi-headset {
  font-size: 30px;
}
.inovative-containt h5 {
  margin: 4px 0px 0px 15px;
  padding: 0;
}
.font-22 {
  font-size: 16px;
}
.inovative-containt p {
  margin: 5px 0px 0px 15px;
}
.font-14 {
  font-size: 13px;
}
/* .inovetor-img-div-1 img {
  height: 410px;
  width: 248px;
} */
.font-20 {
  font-size: 18px;
}
.snip1214 .plan-cost {
  padding: 4px 0px 0px 0px;
  border-top: 1px solid #d2d7e2;
}
.snip1214 .plan-features li {
  padding: 5px 0px;
  font-size: 17px;
}
.snip1214 .plan-select {
  padding: 0px 0px;
}
.starter-div .pricing-box-icon {
  font-size: 26px;
  top: -25px;
}
.starter-div .earth {
  font-size: 26px;
  top: -25px !important;
}
.pricing-content-center {
  margin-top: 30px;
}
i.bi.pricing-cloud-icon {
  font-size: 27px;
  top: -25px;
}
.starter-div {
  position: relative;
  padding: 0px 0 0px 0px;
}
}

/* end media query*/